<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="edit-deal-section">
  <h1>Edit your deal!</h1>

  <% if (user) { %>
    <form class="new-deal-form" action="/deals/<%= deal._id %>?_method=PUT" method="POST">
      <div class='form-line'>
        <h3>Deal Title: </h3>
        <input type="text" name="name" autocomplete="off" value="<%= deal.name %>">
      </div>
      <div class='form-line'>
        <h3>Original Price: </h3>
        <input type="number" name="origPrice" autocomplete="off" value="<%= deal.origPrice %>">
      </div>
      <div class='form-line'>
        <h3>Sale Price: </h3>
        <input type="number" name="salePrice" autocomplete="off" value="<%= deal.salePrice %>">
      </div>
      <div class='form-line'>
        <h3>Deal Link: </h3>
        <input type="url" name="storeLink" autocomplete="off" value="<%= deal.storeLink %>">
      </div>
      <div class='form-line'>
        <h3>Details: </h3>
        <input type="text" name="details" autocomplete="off"" value="<%= deal.details %>">
      </div>
      <br>
      <button class="add-deal-btn btn btn-primary" type="submit">Update Deal</button> 
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>