<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="details-section">
  <h1>Details!</h1>
    <form class="details-form" action="/deals" method="POST">
      <label>
        Name: <%= deal.name %> 
      </label>
      <br>
      <label>
        Original Price: $ <%= deal.origPrice %> 
      </label>
      <br> 
      <label>
        Sale Price: $ <%= deal.salePrice %> 
      </label> 
      <br>
      <label>
        Details: <%= deal.details %> 
      </label>
      <br>
      <label>
        See Deal Here: <a target="_blank" href="<%= deal.storeLink %>">DEAL LINK</a>
      </label> 
      <br>
    </form>
    <div class="details-btns-grouping">
      <% if (deal.author.equals(user?.profile._id)) { %>
        <form action="/deals/<%= deal._id %>/edit" method="GET">
          <button class="details-btn btn btn-info">Edit Deal</button>
        </form>
        <form action="/deals/<%= deal._id %>?_method=DELETE" method="POST"> 
          <button class="details-btn btn btn-danger">Delete Deal</button>
        </form> 
      <% } %>
      <% if (user) { %> 
        <form action="/profiles/saveDeal" method="POST">
          <input type="text" name="dealId" value="<%= deal._id %>" hidden>
          <button class="details-btn btn btn-success" type="submit">Save Deal</button>
        </form>
      <% } %> 
    </div>
</section>








<section class="comments-section">
  <form action="/deals/<%= deal._id %>/comments" method="POST">
    <h2>Comments</h2>
    <h3>Add a comment</h3>
    <div class="comment-post">
      <textarea  name="content" type="text" placeholder="Add a comment..."></textarea>
      <button class="btn btn-light" type="submit">Add</button>
    </div>
  </form>

  <% if (deal.comments.length) { %>
    <% deal.comments.forEach(function(comment) { %>
      <div class="card comment-card">
        <div class="card-header">
          <%= comment.author.name %>
        </div>
        <div class="card-body">
          <h4>
            <%= comment.content %> 
          </h4>
          <h6>Posted on <%= comment.createdAt.toLocaleDateString() %> </h6>
        </div>
        <% if (comment.author.equals(user?.profile._id)) { %> 
          <div class="card-footer">
            <form action="/deals/<%= deal._id %>/comments/<%= comment._id %>?_method=Delete" method="POST">
              <button class="btn btn-light" type="submit">Delete</button>
            </form>
          </div>
        <% } %>
      </div>
    <% }) %>
  <% } else { %>
    <h3>No Comments Yet</h3>
  <% } %>

</section>

</main>

<%- include('../partials/footer') %>